<div class="modal-header" ng-show="title">
    <button type="button" class="close" aria-label="Close" ng-click="$hide()"><span aria-hidden="true">&times;</span></button>
</div>
<div class="modal-body" ng-init="listModalgetNPCs()">
    <h4 class="modal-title" ng-bind="title"></h4>
    <div class="list-group">
        <div ng-repeat="npc in npcs track by $index" class="list-group-item" style="display: flex; flex-direction: row; align-items: stretch;">
            <h4 style="margin-right: auto">{{ npc.name }} - <em>{{ npc.descriptors }}</em></h4>
            <md-button style="min-width: 1%;" ng-click="decrementNPCCount($index)">
                <div style="font-size: 25px; text-align: center">-</div>
            </md-button>
            <div style="max-width: 100px; min-width: 30px; font-size: 25px; text-align: center;">{{npcCounts[$index]}}</div>
            <md-button style="min-width: 1%" ng-click="incrementNPCCount($index)">
                <div style="font-size: 25px; text-align: center">+</div>
            </md-button>
            <md-button class="md-raised" ng-click="listModalselectNPC($index); $hide()">Add</md-button>
        </div>
    </div>
</div>
<div class="modal-footer">
</div>
