<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" ng-controller="modalController">
    <div class="modal-content">
      <div class="modal-header" ng-show="title">
        <button type="button" class="close" aria-label="Close" ng-click="$hide()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" ng-bind="title"></h4>
      </div>
      <form ng-submit="$hide()">
        <div class="modal-body">
          <input type='text' name='username' class='form-control' ng-model="newEncounterTitle" placeholder='Title' required autofocus> 
          <br />
          <textarea type='text' style="resize: none" name="Description" class="form-control" ng-model="newEncounterDescription" placeholder='Description' rows="4" cols="150" required></textarea>
        </div>

        <div class="modal-footer">
          <p style="color : red">{{ info }}</p>
          <button type="submit" class="btn btn-primary" ng-click="createNewEncounter()">Create</button>
          <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>