<div class="modal" tabindex="-1" role="dialog" aria-hidden="true" data-animation="am-fade-and-slide-top">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" ng-show="title">
        <button type="button" class="close" aria-label="Close" ng-click="$hide()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" ng-bind="title"></h4>
      </div>
      <div class="modal-body">
        <form>
          <input type='text' name='username' class='form-control' ng-model="newEncounterTitle" placeholder='Title' required autofocus> 
          <br />
          <textarea name="Post Body" class="form-control" ng-model="newEncounterDescription" placeholder='Encounter Description' rows="4" cols="150"></textarea>
        </form>
      </div>

      <div class="modal-footer">
        <p style="color : red">{{ info }}</p>
        <button type="button" class="btn btn-primary" ng-click="createNewEncounter()">Create</button>
        <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
      </div>
    </div>
  </div>
</div>