a:hover {
    text-decoration: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.disabled{
    color:red;
    background-color: rgba(255,0,30,0.32);
}

.note_container{
    border-top: 1px solid #dddddd;
    padding-top: 0;
}

.note_bar{
    background-color: #ffffff;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
}

.selected_note{
    background-color: #d6d6d6;
}

.h4_inline {
    display: inline;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
    font-weight: 500;
}

.playerPanelRow {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: flex-start;
}

.playerPanelAttribute {
    padding-left: 5px;
    margin-right: auto;
    font-weight: bold;
}

.playerPanelInput {
    border: 0;
    background-color: inherit;
    text-align: right;
    /*width: 50%;*/
    -webkit-box-shadow: none;
    box-shadow: none;
    height: 22px;
}

.actionsSubPanel {
    margin: 5px 10px 5px 10px;
    background-color: whitesmoke;
    border: 1px solid #ddd;
    padding: 5px;
}

.savesSubPanelAttribute {
    flex: 1;
    display: flex;
    flex-flow: column;
    text-align: center;
}

.savesSubPanelInput {
    width: 45px;
    text-align: center;
}

.md-primary {
    margin: 0px;
}
