.disabled{
    color:red;
    background-color: rgba(255,0,30,0.32);
}

.note_container{
    border-top: 1px solid #dddddd;
    padding-top: 0;
}

.note_bar{
    background-color: #ffffff;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
}

.selected_note{
    background-color: #d6d6d6;
}

.h4_inline {
    display: inline;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
    font-weight: 500;
}