<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" ng-show="title">
        <button type="button" class="close" aria-label="Close" ng-click="$hide()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" ng-bind="title"></h4>
      </div>
      <form ng-submit="$hide()">
        <div class="modal-body conatiner-fluid">
          <div class="row">
            <div class="col-md-6">
              <button type="submit" class="btn btn-primary btn-block" ng-click="submit()">Yes</button>
            </div>
            <div class="col-md-6">
              <button type="button" class="btn btn-default btn-block" ng-click="$hide()">No</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>