<div class="modal-header">
  <h4 class="modal-title">
    <span ng-if="!encounterState.active">Open Encounter</span>
    <span ng-if="encounterState.active">Close Encounter</span>
  </h4>
</div>
<form ng-submit="$hide()">
  <div class="modal-body conatiner-fluid">
    <div class="row">
      <div class="col-md-6">
        <button type="submit" class="btn btn-primary btn-block" ng-click="submit()">Yes</button>
      </div>
      <div class="col-md-6">
        <button type="button" class="btn btn-default btn-block" ng-click="$close()">No</button>
      </div>
    </div>
  </div>
</form>