<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" ng-show="title">
        <button type="button" class="close" aria-label="Close" ng-click="$hide()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" ng-bind="title"></h4>
      </div>
      <form ng-submit="$hide()">

        <div class="modal-body container-fluid">
          <div class="input-group">
            <span class="input-group-addon" id="user-addon"><i class="fa fa-user"></i></span>
            <input type='text' name='username' class='form-control' ng-model="editNPC.name" placeholder='Name' aria-describedby="user-addon" required autofocus>
          </div>
          <br>

          <div class="row">
            <div class="col-md-4">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-heart"></i></span>
                <input type='number' class='form-control' ng-model="editNPC.maxHitPoints" style="font-size: 26px" placeholder="HP" aria-describedby="hitpoint-addon" min="1" max="1000" required>
              </div>
            </div>
            <div class="col-md-4">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-shield"></i></span>
                <input type='number' class='form-control' ng-model="editNPC.armorClass" style="font-size: 26px" placeholder="AC" aria-describedby="armor-addon" min="1" max="50" required>
              </div>
            </div>
            <div class="col-md-4">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-eye"></i></span>
                <input type='number' class='form-control' ng-model="editNPC.passivePerception" style="font-size: 26px" placeholder="PERCEPTION" aria-describedby="armor-addon" min="1" max="50" required>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col col-xs-2">
              <input type="number" class="form-control" ng-model="editNPC.saves.strength" placeholder="STR">
            </div>
            <div class="col col-xs-2">
              <input type="number" class="form-control" ng-model="editNPC.saves.dexterity" placeholder="DEX">
            </div>
            <div class="col col-xs-2">
              <input type="number" class="form-control" ng-model="editNPC.saves.constitution" placeholder="CON">
            </div>
            <div class="col col-xs-2">
              <input type="number" class="form-control" ng-model="editNPC.saves.intelligence" placeholder="INT">
            </div>
            <div class="col col-xs-2">
              <input type="number" class="form-control" ng-model="editNPC.saves.wisdom" placeholder="WIS">
            </div>
            <div class="col col-xs-2">
              <input type="number" class="form-control" ng-model="editNPC.saves.charisma" placeholder="CHA">
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <p style="color : red">{{ info }}</p>
          <button type="submit" class="btn btn-primary" ng-click="addPlayer()">Create</button>
          <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>