<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" ng-show="title">
        <button type="button" class="close" aria-label="Close" ng-click="$hide()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">End Encounter</h4>
      </div>
      <form ng-submit="$hide()">
        <div class="modal-body">
          <button type="submit" class="btn btn-primary" ng-click="endEncounter()">Yes</button>
          <button type="button" class="btn btn-default" ng-click="$hide()">No</button>
        </div>
      </form>
    </div>
  </div>
</div>