<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form>
        <div class="modal-header" ng-show="title">
          <button type="button" class="close" aria-label="Close" ng-click="$hide()"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <h4 class="modal-title" ng-bind="title"></h4>
          <div class="container-fluid">
            <form>
              <input type="text" class="form-control" placeholder="Campaign Name" ng-model="newCampaignModal.name" required>
              <br>
              <textarea type='text' style="resize: none" class="form-control" ng-model="newCampaignModal.description" placeholder='Description' rows="4" required></textarea>
              <br>
              <span style="float: right">
                <button type="submit" class="btn btn-primary" ng-click="createNewCampaign()">Save</button>
                <button type="button" class="btn btn-default" ng-click="$hide()">Cancel</button>
              </span>
            </form>
          </div>
        </div>
        <div class="modal-footer">
        </div>
      </form>
    </div>
  </div>
</div>