<div class="popover" tabindex="-1">
	<div class="arrow"></div>
	<!--h3 class="popover-title"></h3-->
	<div class="popover-content">
		<div class="input-group" style="width: 120px">
			<form ng-submit="$hide()">
				<input type="number" class="form-control" ng-model="hit" style="width: 80px" autofocus required>
				<span class="input-group-btn">
					<button class="btn btn-default" type="submit" ng-click="hitPlayer(hit)"><i class="fa fa-check"></i></button>
				</span>
			</form>
		</div>
	</div>
</div>

<!--div class="popover" tabindex="-1" ng-show="content" style="top: -38px; left: 649.219px; display: block; visibility: visible;">
	<div class="arrow" style="top: 50%;"></div>
	<h3 class="popover-title" ng-bind-html="title" ng-show="title">Title</h3>
	<div class="popover-content">
		<form name="popoverForm" class="ng-pristine ng-valid">
			<p ng-bind-html="content" style="min-width:300px">Hello Popover<br>This is a multiline message!</p>
			<pre>2 + 3 = <span class="">5</span></pre>
			<div class="form-group">
				<div class="input-group">
					<div class="input-group-addon">@</div>
					<input class="form-control" type="email" placeholder="Enter email">
				</div>
			</div>
			<div class="form-actions">
				<button type="button" class="btn btn-danger" ng-click="$hide()">Close</button> 
				<button type="button" class="btn btn-primary" ng-click="popover.saved=true;$hide()">Save changes</button>
			</div>
		</form>
	</div>
</div-->